
.hhvv ul li a:hover{
	color: #fff !important;
	background-color: #000 !important;
}
.table-hover tr th :hover{
	background-color: #000 !important;
	color: #000 !important;
}
li a{
	color: #fff!important;
}