.bg-secondary-1{
	background-color: #9aa8b7;
}
.nav-color{
	background-color: #0189CA !important;
}
.nav-color ul li a{
	color: #FFF !important;
}
.nav-color .dropdown .dropdown-item{
	color: #000 !important;
}



.social .nav-item .nav-link{
	color: #343a40 !important;
}
.slider{
	min-height: 300px;
	background-image: url("../images/slider2.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.btn-blue{
	background-color: #407AA3;
	color: #FFF;
	padding: 5px 30px;
	border-radius: 40px;
}
.btn-blue:hover{
	background-color: #05192F;
	color: #FFF;
}
.saperator{
	width: 200px;
	height: 5px;
	background-color: #05192F;
	margin: 0 auto;
}